@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Epilogue:ital,wght@0,500;1,500&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,800;1,800&family=Roboto:wght@700&family=Teko:wght@600&display=swap');

:root {
    --fonte-primaria: "Dancing Script", sans-serif;
    --fonte-secundaria: "Teko", sans-serif;
    --fonte-terciaria: "Epilogue", sans-serif;
    --fonte-quarternaria: "Montserrat", sans-serif;
    --fonte-quintenaria: "Inter", sans-serif;
}

body{
    margin: 0;
    font-family: var(--fonte-terciaria);
    background:#b5c0d3;
    color:#3C5B6F;
}

html {
    font-family: var(--fonte-quintenaria);
    font-weight: 500;
}

/* .principal {
    background-image: url(../image/plano_de_fundo_pg_de_vendas.jpg);  
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:30%;
    width: 100%;
    height: 100%;
} */



.container{
    width: 900px;
    margin-left: 20%;
    /* margin: auto;  */
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
    
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position:relative;
    cursor: pointer;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 22.5px;
    height: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 55%;
    right: -23.5px;
}
.title{
    font-family: var(--fonte-primaria);
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #02385c;
}
.listProduct .item img{
    width: 90%;
    max-width: 60%;
    height: 40%; 
    max-height: 60%;
    filter: drop-shadow(0 15px 20px #0009);
}
.listProduct{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: baseline;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px 20px 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size:medium;
    font-family: var(--fonte-quarternaria);
    
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
    font-family: var(--fonte-quintenaria);
    
}

/* Aqui para mexer no botão de adicionar ao carrinho. */
.listProduct .item button{
    background-color: #023d64fa;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 40px;
    border-radius: 20px;
    font-family: var(--fonte-quintenaria);
    cursor: pointer;
    
    
    
}

/* cart */
.cartTab{
    width: 500px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -500px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;

}
body.showCart .container{
    transform: translateX(-200px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-family: var(--fonte-terciaria);
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: var(--fonte-quintenaria);

}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display:inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #7504f7f3;
    cursor: pointer;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}

footer {
    padding: 0.5rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #23181a;
}

.footer__copy {
    font-family: var(--fonte-quintenaria);
    font-size:  1rem;
    font-weight: 500;
    color: #FFF2E7;
}

.footer__autor {
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}




/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Epilogue:ital,wght@0,500;1,500&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,800;1,800&family=Roboto:wght@700&family=Teko:wght@600&display=swap');

:root {
    --fonte-primaria: "Dancing Script", sans-serif;
    --fonte-secundaria: "Teko", sans-serif;
    --fonte-terciaria: "Epilogue", sans-serif;
    --fonte-quarternaria: "Montserrat", sans-serif;
    --fonte-quintenaria: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background:#b5c0d3;;
    color:#3C5B6F;
}

html {
    font-family: var(--fonte-quintenaria);
    font-weight: 500;

}

a {
    text-decoration: none;
    color: #013e61;
}

ul {
    list-style: none;
}

nav {
    max-width: 1800px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.logo {
    font-family: var(--fonte-primaria);
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #02385c;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

main {
    display:flex;
    flex-direction: column;
 
 }

.principal {
    background-image: url(../assets/plano_de_fundo_pg_de_vendas.jpg);  
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:30%;
    width: 1800px;
    height: 450px;
}

.hero {
    max-width: 1180px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 0rem 25rem 0rem 0rem;
    margin: auto;

}

.hero__conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.destaque{
    font-family: var(--fonte-terciaria);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color: #ff2f00;
}

.apresentacao__conteudo__titulo {
    color: #042044;
}

h1 {
    font-family: var(--fonte-quarternaria);
    font-size: 3.5rem;
    font-weight: 800;
}


hr {
    border-color: #ff3300;
}


.hero__subtitulo{
    color: #140136;
    font-family: var(--fonte-quintenaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 20rem 3rem 2rem;
    margin:auto;
}

.receitas__cabecalho {
    display:flex;
    flex-direction: column;
    gap: 0.7rem;
}

.receitas__titulo {
    font-family: var(--fonte-quarternaria);
    font-size: 2rem;
    font-weight: 700;
    color: #ff7300;

}

.receitas__subtitulo {
    font-family: var(--fonte-quintenaria);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #0c0999;
}


.receitas__card__conteiner {
    padding: 0rem 8.7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.receitas__card {
    background: #241A1C;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 29rem;
    margin-top: 2.7rem;
}

.receitas__card__cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

}

.receitas__card_cabecalho__detalhes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita__titulo {
    font-family: var(--fonte-quarternaria);
    font-size:  1.5rem;
    font-style: normal;
    font-weight: 700;
    color: #FFF2E7;
}

.receita__avaliacao {
    color: #756a67;
    font-family: var(--fonte-quintenaria);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.receita__descricao {
    font-family: var(--fonte-quintenaria);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #c7bab3;
}

.receita__autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.9rem;
}

.receita__autor > img {
    border-radius: 20rem;
    width: 2rem;
}

.receita__autor_nome {
    font-family: var(--fonte-quintenaria);
    font-size: 1rem;
    font-weight: 600;
    color: #c7bab3;
}

footer {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181a;
}

.footer__copy {
    font-family: var(--fonte-quintenaria);
    font-size:  1rem;
    font-weight: 500;
    color: #FFF2E7;
}

.footer__autor {
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
} */