@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Epilogue:ital,wght@0,500;1,500&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,800;1,800&family=Roboto:wght@700&family=Teko:wght@600&display=swap');

:root {
    --fonte-primaria: "Dancing Script", sans-serif;
    --fonte-secundaria: "Teko", sans-serif;
    --fonte-terciaria: "Epilogue", sans-serif;
    --fonte-quarternaria: "Montserrat", sans-serif;
    --fonte-quintenaria: "Inter", sans-serif;
}

/* Corpo da página */
body {
    margin: 0;
    font-family: var(--fonte-terciaria);
    /* background-image: url(../image/background_image_chocolate.jpg); */
    z-index: 1;
    background-color: #dad7cd;
}

/* Conteúdo da página - Posição, alinhamento do conteúdo e movimento de puxar os itens para a esquerda quando abre a aba do carrinho */
.container {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    text-align: center;
    transition: transform .5s;
    background-color: #d6ccc2;
}

/* Controla o tamanho do ícone do carrinho de compras */
svg {
    width: 1.563vw;
}

/* header da página */
.menu{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin-right: 5rem;
}

/* ìcone de login do usuário */
.login_icon {
    width: 2vw;
    z-index: 10;
}

/* Ícone do carrinho de compras */
.icon-cart {
    position: relative;
    cursor: pointer;
}

/* Ícone de contador do carrinho */
.icon-cart span {
    position: absolute;
    background-color: rgb(33, 164, 173);
    border: 1px solid #23181a;
    width: 1.6vw; /* Reduzido o tamanho do contador */
    height: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    top: 60%; /* Ajustado para ficar ligeiramente abaixo do ícone */
    right: -99%; /* Ajustado para ficar ligeiramente à direita do ícone */
}

.presentation_img{
    max-height: 300px;
    width: 100vw;
}
/* Lista de produtos */
.listProduct {
    margin: 2% 10% 2% 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px; /* Ajuste o espaçamento entre os cards */
    justify-content: baseline;
}

/* Card dos produtos listados por item */
.listProduct .item {
    background-color: #C5C4DA;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

/* Imagem dos produtos listados na página */
.listProduct .item img {
    width: 60%;
    max-width: 60%;
    height: auto; 
    filter: drop-shadow(0 15px 20px #0009);
    margin-bottom: 10px; /* Ajuste o espaçamento entre os elementos dentro do card */
}

/* Nome dos produtos */
.listProduct .item h2 {
    font-weight: 500;
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
    margin: 10px 0;
    text-align: center;
}

/* Preço dos produtos listados na tela */
.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
    font-family: var(--fonte-quintenaria);
    margin: 10px 0;
    text-align: center;
}
.listProduct .item button {
    background-color: #023d64fa;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: var(--fonte-quintenaria);
    cursor: pointer;
    margin-top: auto;
}
.listProduct .item button:hover {
    background-color: #17415e;
    color: #c9c3c3;
}
.cartTab {
    width: 500px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -500px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 10;
}
body.showCart .cartTab {
    right: 0;
}
body.showCart .container {
    transform: translateX(-50px);
}
.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-family: var(--fonte-terciaria);
    color: rgb(253, 253, 253);
}
.cartTab .subtotal {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    color: rgb(180, 224, 245);
    font-family: var(--fonte-quintenaria);
}
.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: var(--fonte-quintenaria);
    height: 60px;
}
.cartTab button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab button:hover {
    background-color: #e0c144;
}
.cartTab .close {
    background-color: #eee;
}
.cartTab .close:hover {
    background-color: #bdbaba;
}
.listCart .item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;
    border-radius: 10%;
}
.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    font-family: var(--fonte-terciaria);
    font-size: 0.938rem;
}
.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #7504f7f3;
    cursor: pointer;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
}
.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even) {
    background-color: #eee1;
}
.listCart {
    overflow: auto;
}
.listCart::-webkit-scrollbar {
    width: 0;
}
.whatsapp-link {
    position: fixed;
    width: 4vw;
    height: 9vh;
    bottom: 7.5vw;
    right: 2.5vw;
    z-index: 5;
}
 footer {
    background: #464555;
    margin-top: 5rem; 
    padding: .7rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.estilo_footer {
    margin-left: 15rem;
}
.footer__copy {
    font-family: var(--fonte-quintenaria);
    font-size: .8rem;
    font-weight: 500;
    color: #FFF2E7;
}
.github {
    padding: 15px;
    width: 20%;
    border-radius: 100%;
}      
.instagram_image {
    width: 12%;
    /* padding: 15px; */
    margin-left: 9rem;
} 




/* mobile */
@media only screen and (max-width: 768px) {  

    .container {
        display: flex;
        justify-content: center;
        max-width: 100vw;
        text-align: center;
        background-color: #d6ccc2;
    }
    svg {
        width: 5vw;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5%;
        margin-right: 1.7rem;
    }
    .login_icon {
        width: 5.5vw;
        z-index: 10;
    }
    .icon-cart {
        position: relative;
    }
    .icon-cart span {
        max-width: 5vw;
        max-height: 2vh;
        border: 1px solid #0018a0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #ffffff;
        top: 50%;
        right: -20%;
        left: 100%;
    }
    .listProduct {
        margin-top: 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-content: center;
    }
    .listProduct .item {
        background-color: #C5C4DA;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
    .listProduct .item img {
        height: 55%;
        filter: drop-shadow(0 10px 10px #0009);
        margin-bottom: 10px;
    }
    .listProduct .item h {
        font-weight: 500;
        font-size:500px;
        font-family: var(--fonte-primaria);
        margin: 20px 0;
        text-align: center;
    }
    .listProduct .item .price {
        font-size: small;
        font-family: var(--fonte-quintenaria);
        margin-top: 10px;
        text-align: center;
    }
    .listProduct .item button {
        background-color: #023d64fa;
        color: #ffffff;
        border: none;
        padding: 5px 10px;
        border-radius: 20px;
        font-family: var(--fonte-quintenaria);
        cursor: pointer;
        margin-top: 10px;
    }
    .cartTab {
        width: 110vw;
        background-color: #353432;
        color: #eee;
        position: fixed;
        top: 0;
        right: -500px;
        bottom: 0;
        display: grid;
        grid-template-rows: 70px 1fr 70px;
        transition: .5s;
    }
    .whatsapp-link {
        position: fixed;
        width: 18vw;
        height: 8.5vh;
        bottom: 85px;
        right: .5rem;
        z-index: 5;
    }
    footer {
        background: #464555;
        margin-top: 5rem;
        padding: 1rem;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .estilo_footer {
        margin-left: 3.5rem;
    }
    .footer__copy {
        font-family: var(--fonte-quintenaria);
        font-size: 1rem;
        font-weight: 500;
        color: #FFF2E7;
    }
    .github {
        padding: 15px;
        width: 40%;
        border-radius: 100%;
    }      
    .instagram_image {
        width: 40%;
        padding: 15px;
        margin-left: 10%;
    } 
}
@media only screen and (max-width: 480px) {
    .listProduct {
        grid-template-columns: 1fr;
    }
    .listProduct .item {
        padding: 10px;
    }
    .listProduct .item img {
        width: 90%;
    }
    .listProduct .item h2 {
        font-size: 0.9rem;
    }
    .listProduct .item .price {
        font-size: 0.8rem;
    }
    .listProduct .item button {
        padding: 5px;
        font-size: 0.9rem;
    }
    .icon-cart span {
        width: 10vw; /* Ajuste do tamanho do contador */
        height: 4vh;
        right: -25%; /* Ajuste da posição do contador */
    }
}