@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Epilogue:ital,wght@0,500;1,500&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,800;1,800&family=Roboto:wght@700&family=Teko:wght@600&display=swap');

:root {
    --fonte-primaria: "Dancing Script", sans-serif;
    --fonte-secundaria: "Teko", sans-serif;
    --fonte-terciaria: "Epilogue", sans-serif;
    --fonte-quarternaria: "Montserrat", sans-serif;
    --fonte-quintenaria: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background:#b5c0d3;;
    color:#3C5B6F;
}

html {
    font-family: var(--fonte-quintenaria);
    font-weight: 500;

}

a {
    text-decoration: none;
    color: #013e61;
}

ul {
    list-style: none;
}

nav {
    max-width: 1800px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.logo {
    font-family: var(--fonte-primaria);
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #02385c;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

main {
    display:flex;
    flex-direction: column;
 
 }

.principal {
    background-image: url(../assets/plano_de_fundo_pg_de_vendas.jpg);  
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:30%;
    width: 1800px;
    height: 450px;
}

.hero {
    max-width: 1180px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    /* dist topo; distancia parede direta; distância fundo; distância parede esquerda.  */
    padding: 0rem 25rem 0rem 0rem;
    margin: auto;
    /* overflow:clip: ; */
}

.hero__conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.destaque{
    font-family: var(--fonte-terciaria);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color: #ff2f00;
}

.apresentacao__conteudo__titulo {
    color: #042044;
}

h1 {
    font-family: var(--fonte-quarternaria);
    font-size: 3.5rem;
    font-weight: 800;
}

/* Cor da barra abaixo do bem vindo */
hr {
    border-color: #ff3300;
}

/* Cor do subtitulo abaixo da barra */
.hero__subtitulo{
    color: #140136;
    font-family: var(--fonte-quintenaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 20rem 3rem 2rem;
    margin:auto;
}

.receitas__cabecalho {
    display:flex;
    flex-direction: column;
    gap: 0.7rem;
}

.receitas__titulo {
    font-family: var(--fonte-quarternaria);
    font-size: 2rem;
    font-weight: 700;
    color: #ff7300;

}

.receitas__subtitulo {
    font-family: var(--fonte-quintenaria);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #0c0999;
}


/* ver como que fica com um felx-direction: column; */
.receitas__card__conteiner {
    padding: 0rem 8.7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.receitas__card {
    background: #241A1C;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 29rem;
    margin-top: 2.7rem;
}

.receitas__card__cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

}

.receitas__card_cabecalho__detalhes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita__titulo {
    font-family: var(--fonte-quarternaria);
    font-size:  1.5rem;
    font-style: normal;
    font-weight: 700;
    color: #FFF2E7;
}

.receita__avaliacao {
    color: #756a67;
    font-family: var(--fonte-quintenaria);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.receita__descricao {
    font-family: var(--fonte-quintenaria);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #c7bab3;
}

.receita__autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.9rem;
}

.receita__autor > img {
    border-radius: 20rem;
    width: 2rem;
}

.receita__autor_nome {
    font-family: var(--fonte-quintenaria);
    font-size: 1rem;
    font-weight: 600;
    color: #c7bab3;
}

footer {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181a;
}

.footer__copy {
    font-family: var(--fonte-quintenaria);
    font-size:  1rem;
    font-weight: 500;
    color: #FFF2E7;
}

.footer__autor {
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}
