@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,100..900&display=swap');
/*  Tanto o body quanto o h1 têm por padrão margens, então é necessário resetá-las conforme a necessidade do projeto. */
/*  o Body tem margens nos eixos x e y, o H1 só no eixo y */
/* flex direction: row:
 o Justify-content alinha os elementos tendo como referência o eixo X
 O align-items alinha os elemnentos tendo como referência o eixo Y. */
/*  Quando o display: flex e flex-direction: column:
O Justify content terá como referência o eixo Y 
O align Itens terá comoreferência o eixo X */

body {
    margin:0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    /* Largura da view port width:100 = Total do eixo horizontal X */
    /* altura da view port height: 100 = Total do eixo vertical Y */
    width: 100vw;
    height: 120vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  Caso tenha mais de um h1 na página, esse bloco de código vai ser aplicado a todo os títulos */
.left-login > h1 {
    font-size: 2vw;
    color: #77ffc0;
}

.left-login-image {
    width: 15vw;
}

.right-login {
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

/*  A porcentagem pega o tamanho da div que está o card-login. A diferença entre usar porcentagem e view port é que o View Port levará em conta o tamanho total da página, já a porcentagem se comportará conforme o tamanho da div. Se existirem quatro divs na tela e estiverem lado a lado com um display flex, o tamanho total da div seria de 25%, o que representa 1/4 da tela. Aqui no caso, seria 60% de 50%.  */

/* Paddings são margens para dentro dos componentes. 
Caso tenha só dois valores: 
1º - Eixo Y
2º - Eixo X
*/
.card-login{
    width: 50%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 10px;
    background: #2f2841;
    border-radius: 20px;
    /* X, Y, Blur, cor */
    box-shadow: 0px 10px 40px #00000056;
}

.card-login >h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

/* Adicionando as novas classes */
.form-container {
    display: flex;
    flex-wrap: wrap;
}

.textfield {
    flex: 1 1 45%; /* duas caixas por linha, com uma margem entre elas */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    /* O padding com um valor só aplica os valores tanto para eixo y quanto para o X */
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color:#f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.btn-login{
    width: 60%;
    padding: 16px 0px;
    margin: 22%;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px){
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login{
        flex-direction: column;
    }

    .left-login > h1{
        display:none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;
    }

    .card-login {
        width: 90%;
    }

    /* Ajuste para manter os campos em linha única em telas menores */
    .form-container {
        flex-direction: column;
    }

    .textfield {
        flex: 1 1 100%;
    }
}
